<a href="/influencer/{{id}}"><img class="card-img-top img-card" src="{{image}}" alt="Card image cap"></a>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text"></p>
</div>