
<div class="container">

    <h2>Agencias</h2>
    <figure id="agencyMap"></figure>

    <a href="/" class="btn btn-dark">Home</a>

</div>


{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/agency-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItnPEnmNORPYuMbfQHxK_lD6RHlgl5eg
&callback=initApp"></script>


