<div class="container index">

    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {{#each influ}}
                <li class="glide__slide">
                    <img class="img-carousel" src="{{image}}">
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center align-items-center info-index">
        <div class="col-md-6 col-lg-4">
            <h2>_Appfluencer</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <br>
            <p>_Appfluencer es una aplicación pensada para facilitar la búsqueda de todas aquellas empresas y
                responsables de Marketing que quieran trabajar con alguna de las influencers
                con las que tenemos la suerte de trabajar. <br>
                Regístrate y accede a todos los beneficios que tendrás como usuaria/o y a un sinfín de información
                detallada de cada una de nuestras influencers.
            </p>
            <a href="/registro" class="btn btn-sm text-white">Registrarse</a>
            <a href="/inicio-sesion" class="btn btn-sm text-white">Iniciar sesión</a>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"
    integrity="sha512-BXASbMmKLu+RC5TDnkupyhvrjiOQXILh/5zgIS8k5JAC71a73lNweVEg/X+9XJQ7GK22PH9WpztY3zqrji+xrQ=="
    crossorigin="anonymous"></script>


<script>

    new Glide('.glide', {

        type: 'carousel',
        startAt: 3,
        perView: 5,
        autoplay: 3500,
        hoverpause: true,
        breakpoints: {
            1024: {
                perView: 2
            },
            500: {
                perView: 2
            }
        }
    }).mount()
    
</script>

{{>footer this}}
