<div class="container index">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4">
            <img class="img-index" src="./../images/fondo-index">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            <br>
            <p>_Appfluencer es una aplicación pensada para facilitar la búsqueda de todas aquellas empresas y
                responsables de Marketing que quieran trabajar con alguna de las influencers
                con las que tenemos la suerte de trabajar. <br>
                Regístrate y accede a todos los beneficios que tendrás como usuaria/o y a un sinfín de información
                detallada de cada una de nuestras chicas.
            </p>
            <a href="/registro" class="btn btn-sm text-white">Registrarse</a>
            <a href="/inicio-sesion" class="btn btn-sm text-white">Iniciar sesión</a>
        </div>
    </div>
</div>
