//Generic
body {
  font-family: sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 18px;
}

img {
  width: 80%;
}

.img-card {
  height: 400px;
  object-fit: cover;
}

.btn {
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  padding-top: 50px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

//Navbar
nav.navbar{
  background-color: black;
  font-size: 18px;
  padding-right: 30px;
  color: white;
}

.logo {
  font-size: 25px;
  margin-left: 20px
}

.navbar-toggler-icon {
  background-color: white; 
}

// .navbar-toggler-icon {
//   background-image: url("https://cdn2.iconfinder.com/data/icons/simple-circular-icons-filled/78/Hamburger_Menu_Filled-512.png");
// }


//Map
#agencyMap{
  height: 500px;
}

.card{
  margin: 30px 0;
  text-align: center;
}

//Index
.index{
  // margin-top: 200px;
  text-align: justify;
}

.img-index{
  width: 100%;
}

//footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 20px;
}

//All influs

.all-influs {
  margin-bottom: 80px; 
}

//Details influs

.influ-index{
  margin-top: 100px;
}

.logo-agency {
  width: 100px;
  margin-top: 20px;
}

.detail-agency {
  color: black;
  font-weight: bold;
}

.img-carousel {

  width: 200px;
  height: 250px;
}

.glide__slides {
  margin-top: 60px;
  margin-bottom: 50px;
}

.detail-agency:hover {
  text-decoration: none;
  color: #ed564b;
}