//Generic
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 18px;
  text-align: justify;
}

// .col-sm-12 {
//   width: 50%;
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;
// }

img {
  width: 80%;
}

.img-card {
  height: 400px;
  object-fit: cover;
}

.btn {
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  padding-top: 50px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

//Navbar
nav.navbar{
  background-color: black;
  font-size: 18px;
  color: white;
}

.logo {
  font-size: 25px;
  margin-left: 20px;
}


.navbar-toggler-icon {
  background-image: url('./../images/white-navbar.jpg');
  width: 50px;
  height: 50px;
}


//Map
#agencyMap{
  height: 500px;
}

.card{
  margin: 30px 0;
  text-align: center;
}
.map-contact {
  margin-top: 60px;
  margin-bottom: 100px;
}
.agency-index{
  margin-bottom: 70px;
}

//Index
.index{
  margin-bottom: 100px;
}

.info-index {
  margin-top: 50px;
}

.influ-index {
  margin-top: 100px;
  margin-bottom: 100px;
}

//footer
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 20px;
}

//All influs
.all-influs {
  margin-bottom: 80px; 
}

//Details influs

.link-detail {
  color: black; 
}

.link-detail:hover {
  text-decoration: none;
  color: #ed564b;
}

.logo-agency {
  width: 100px;
  margin-top: 20px;
}

.detail-agency {
  color: black;
  font-weight: bold;
}

.detail-agency:hover {
  text-decoration: none;
  color: #ed564b;
}

//Profile

.profile-cont {
  margin-bottom: 30px;
}

//Carousel

.img-carousel {
  width: 200px;
  height: 250px;
}

.glide__slides {
  margin-top: 80px;
  margin-bottom: 50px;
}

//Form sig nup and login

.form-login{
  margin-top: 150px;
}

//Form edit and new

.new-form {
  margin-top: 20px;
}