
<div class="container">

<h2>Lista de Influencers</h2>

    <br>

    <ul>
        {{#each allInflus}} 
            <a href="/influencer/{{id}}"><h3>{{name}}</h3></a>
            <small><a href="/influencer/editar-influencer?id={{id}}">editar</a></small>
        {{/each}}

        <br>


        <a href="/influencer/crear-influencer" class="btn btn-dark">Crear nueva influencer</a>
        
    </ul>

</div>