<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h2>Crear nueva influencer</h2>

            <form method="POST" action="/influencer/crear-influencer">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <input type="text" class="form-control" name="instagram">
                </div>
                <div class="form-group">
                    <label>Followers</label>
                    <input type="text" class="form-control" name="followers">
                </div>
                <div class="form-group">
                    <label>Agencia</label>
                    <input type="text" class="form-control" name="agency" placeholder="¡Introduce el ID de la Agencia!">
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" class="form-control" name="description">
                </div>
                 <div class="form-group">
                    <div class="custom-file">
                    <label>Imagen</label>
                    <input type="file" class="custom-file-input" name="image" id="imageFile">
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-block">Crear</button>
            </form>
        </div>
    </div>

</div>
