<div class="container map-contact">
    <h3>Contacto</h3>

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-8">
            <figure id="agencyMap"></figure>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            {{#each allAgencies}}
            <ul>
                <strong>
                    <h5><a class="detail-agency" href="/influencer/mapa/{{id}}">{{name}}</a></h5>
                </strong>
                <p class="street-agency">{{street}}</p>
            </ul>
            {{/each}}

        </div>
    </div>
</div>

{{>footer this}}


{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/agency-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=_your_api_key=initApp">
</script>
